@{
    ViewBag.Title = "Ошибка идентификации";
}

<h2>Мы не смогли определить, кто вы.</h2>
<p>Это могло произойти по следующим причинам</p>
<ul>
    <li>Вы не в домене</li>
    <li>Вы не зарегистрированы в базе данных исполнителей</li>
    <li>Вы не существуете</li>
</ul>
<p>Приносим извинения за причиненные неудобства.</p>
